---
layout: layout
---

<section>
    <div class="posts">
        {% for book in site.data.books[page.category] %}
        <article>
            <h3><a href="{{ book.url }}" target="_blank" rel="noopener noreferrer nofollow">{{ book.name }}</a></h3>
            <p><i class="fa fa-user" aria-hidden="true"></i>  {{ book.author}}</p>
        </article>
        {% endfor %}
    </div>
</section>