<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133675927-1"></script>
    <script>
        if(window.location.hostname !== "localhost") {
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-133675927-1');
        }
    </script>
    <title>{{ page.title | default: site.title }}</title>
    <meta property="description" content="{{ page.description | default: site.description }}">
    <meta property="og:locale" content="cs_CZ" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title | default: site.title }}">
    <meta property="og:description" content="{{ page.description | default: site.description }}">
    <meta property="og:image" content="{{ site.url }}{{ page.cover | default: site.cover }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="twitter:title" content="{{ page.title | default: site.title  }}">
    <meta property="twitter:image" content="{{ site.url }}{{ page.cover | default: site.cover }}">
    <meta property="twitter:description" content="{{ page.description | default: site.description }}">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/fontawesome-5.11.2.css">
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <div id="main">
        <div class="inner">
            {{ content }}
        </div>
    </div>

    <!-- Sidebar -->
    {% include sidebar.html %}

</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>