---
layout: layout
---

{% assign author = site.data.authors[page.author] %}

<section>
    <header class="main">
        <h1>{{ page.title }}</h1>
        <div>
            <i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%d.%m.%Y"}}
        </div>
    </header>

    <span class="image main"><img src="{{ page.image }}" alt="" /></span>
    <h4>{{ page.description }}</h4>

    {{ content }}
</section>

<ul class="icons">
    {% capture url %}{{ site.url}}{{page.url}}{% endcapture %}
    <li><a href="https://twitter.com/home?status={{ url | url_encode }}" target="_blank" rel="noopener noreferrer nofollow" class="icon"><i class="fab fa-twitter" title="Twitter"></i></a></li>
    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ url | url_encode }}" target="_blank" rel="noopener noreferrer nofollow" class="icon"><i class="fab fa-facebook" title="Facebook"></i></a></li>
    <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ url | url_encode }}" target="_blank" rel="noopener noreferrer nofollow" class="icon"><i class="fab fa-linkedin" title="LinkedIn"></i></a></li>
    <li><a href="mailto:?subject={{ page.title }}&body={{ url | url_encode }}" class="icon"><i class="fas fa-envelope" title="Email"></i></a></li>
</ul>